/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box; }

body {
  color: #525252;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  background: #fff url("cloud-bar.png") repeat-x;
  padding-top: 10px; }

h1, h2, h3, h4 {
  -webkit-font-smoothing: antialiased; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

a {
  color: #f4645f;
  text-decoration: none; }

h1 {
  font-size: 48px;
  font-weight: 200; }

p {
  line-height: 1.5;
  margin: 10px 0 20px; }
  p strong {
    -webkit-font-smoothing: antialiased; }

.contain {
  max-width: 880px;
  margin: 0 auto; }

p code {
  background: #f0f2f1;
  color: #f4645f;
  padding: 1px 5px;
  border-radius: 3px; }

code, kbd, pre, samp {
  font-family: source-code-pro, monospace;
  font-size: 14px; }

blockquote {
  background: #f4645f;
  color: #fff;
  border-radius: 3px;
  margin: 10px 0 20px;
  padding: 10px 15px; }
  blockquote p:last-child {
    margin: 0; }
  blockquote a {
    color: #fff; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn:hover,
.btn:focus,
.btn.focus {
  text-decoration: none; }

.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none; }

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc; }

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad; }

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none; }

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc; }

.btn-default .badge {
  color: #ffffff;
  background-color: #333333; }

.btn-primary {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2e6da4; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74; }

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none; }

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #337ab7;
  border-color: #2e6da4; }

.btn-primary .badge {
  color: #337ab7;
  background-color: #ffffff; }

.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c; }

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439; }

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none; }

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c; }

.btn-success .badge {
  color: #5cb85c;
  background-color: #ffffff; }

.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da; }

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc; }

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none; }

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da; }

.btn-info .badge {
  color: #5bc0de;
  background-color: #ffffff; }

.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236; }

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #d58512; }

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none; }

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236; }

.btn-warning .badge {
  color: #f0ad4e;
  background-color: #ffffff; }

.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a; }

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925; }

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none; }

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a; }

.btn-danger .badge {
  color: #d9534f;
  background-color: #ffffff; }

.btn-link {
  color: #337ab7;
  font-weight: normal;
  border-radius: 0; }

.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  box-shadow: none; }

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent; }

.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent; }

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777777;
  text-decoration: none; }

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px; }

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-block {
  display: block;
  width: 100%; }

.btn-block + .btn-block {
  margin-top: 5px; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%; }

.fade {
  opacity: 0;
  transition: opacity 0.15s linear; }

.fade.in {
  opacity: 1; }

.collapse {
  display: none;
  visibility: hidden; }

.collapse.in {
  display: block;
  visibility: visible; }

tr.collapse.in {
  display: table-row; }

tbody.collapse.in {
  display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-property: height, visibility;
  transition-duration: 0.35s;
  transition-timing-function: ease; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.dropup,
.dropdown {
  position: relative; }

.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box; }

.dropdown-menu.pull-right {
  right: 0;
  left: auto; }

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5; }

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7; }

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777; }

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed; }

.open > .dropdown-menu {
  display: block; }

.open > a {
  outline: 0; }

.dropdown-menu-right {
  left: auto;
  right: 0; }

.dropdown-menu-left {
  left: 0;
  right: auto; }

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap; }

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: ""; }

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px; }

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0; }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto; } }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

.affix {
  position: fixed; }

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+php+php-extras+bash+sql+http */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
.docs article code[class*="language-"],
.docs article pre[class*="language-"] {
  font-size: 11px;
  line-height: 2.0;
  vertical-align: middle; }

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.7;
  font-size: 11.5px;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 10px 0 20px;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: rgba(238, 238, 238, 0.35);
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125); }

/* Inline code */
:not(pre) > code[class*="language-"] {
  background: #f0f2f1;
  color: #f4645f;
  padding: 1px 5px;
  border-radius: 3px; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #DA564A; }

.token.scope, .token.attr-name {
  color: #DA564A; }

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #2E7D32; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #555; }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.function {
  color: #555; }

.token.regex,
.token.important,
.token.variable {
  color: #4EA1DF; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  padding-top: 0px;
  margin-top: -1px;
  border-radius: 0;
  counter-reset: linenumber; }

pre.line-numbers > code {
  position: relative; }

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: -4px;
  padding-top: 0px;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  background: #f0f2f1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber; }

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right; }

.dark-code {
  /* Code blocks */
  /* Inline code */ }
  .dark-code code[class*="language-"],
  .dark-code pre[class*="language-"] {
    color: #f8f8f2;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none; }
  .dark-code pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em; }
  .dark-code :not(pre) > code[class*="language-"],
  .dark-code pre[class*="language-"] {
    background: #272822; }
  .dark-code :not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em; }
  .dark-code .token.comment,
  .dark-code .token.prolog,
  .dark-code .token.doctype,
  .dark-code .token.cdata {
    color: slategray; }
  .dark-code .token.punctuation {
    color: #f8f8f2; }
  .dark-code .namespace {
    opacity: .7; }
  .dark-code .token.property,
  .dark-code .token.tag,
  .dark-code .token.constant,
  .dark-code .token.symbol,
  .dark-code .token.deleted {
    color: #f92672; }
  .dark-code .token.boolean,
  .dark-code .token.number {
    color: #ae81ff; }
  .dark-code .token.selector,
  .dark-code .token.attr-name,
  .dark-code .token.string,
  .dark-code .token.char,
  .dark-code .token.builtin,
  .dark-code .token.inserted {
    color: #a6e22e; }
  .dark-code .token.operator,
  .dark-code .token.entity,
  .dark-code .token.url,
  .dark-code .language-css .token.string,
  .dark-code .style .token.string,
  .dark-code .token.variable {
    color: #f8f8f2; }
  .dark-code .token.atrule,
  .dark-code .token.attr-value {
    color: #e6db74; }
  .dark-code .token.keyword {
    color: #66d9ef; }
  .dark-code .token.regex,
  .dark-code .token.important {
    color: #fd971f; }
  .dark-code .token.important,
  .dark-code .token.bold {
    font-weight: bold; }
  .dark-code .token.italic {
    font-style: italic; }
  .dark-code .token.entity {
    cursor: help; }

.slide-menu {
  background: #f4645f;
  padding: 0 20px;
  left: -70%;
  display: none; }
  .slide-menu h2 {
    color: #fff;
    font-weight: normal; }
  .slide-menu .brand {
    padding: 22px 0;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
    .slide-menu .brand img {
      margin-left: -20px; }
  .slide-menu .slide-docs-nav > ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .slide-menu .slide-docs-nav > ul > li {
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      padding: 0 0 10px;
      margin: 25px 0 0px; }
      .slide-menu .slide-docs-nav > ul > li > ul {
        border-top: 1px dashed rgba(0, 0, 0, 0.1);
        display: block;
        list-style: none;
        margin: 10px 0 0 0;
        padding: 10px 0 0 0;
        font-size: 14px; }
  .slide-menu .slide-main-nav {
    list-style: none;
    padding: 25px 0;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .slide-menu .slide-main-nav a {
      font-weight: bold; }
  .slide-menu a {
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.9); }
    .slide-menu a:hover {
      color: #fff; }

.docs .slide-main-nav .nav-docs {
  display: none; }

.wrap {
  position: relative; }

.overlay {
  position: fixed;
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999999;
  transition: all 100ms ease;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  cursor: pointer; }

.scotch-is-showing .overlay {
  display: block; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.btn {
  border: none;
  border-radius: 3px;
  background: #f4645f;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px; }
  .btn .faint {
    color: rgba(255, 255, 255, 0.5); }
  .btn:hover, .btn:active {
    background: #e74430;
    color: #fff; }

footer.main {
  background: #fafafa;
  padding: 35px 20px;
  text-align: center; }
  footer.main > ul {
    list-style: none;
    margin: 25px auto 35px; }
    footer.main > ul > li {
      display: inline-block;
      margin: 0 18px; }
      footer.main > ul > li > a {
        font-size: 16px;
        color: #525252; }
        footer.main > ul > li > a:hover {
          color: #f4645f; }
  footer.main p {
    color: #aeaeae;
    font-size: 16px;
    margin-bottom: 10px; }
    footer.main p a {
      color: #525252; }
      footer.main p a:hover {
        color: #f4645f; }
  footer.main p.less-significant a {
    color: #c8c8c8;
    font-size: 14px; }
    footer.main p.less-significant a:hover {
      color: #f4645f; }
  footer.main .dropdown-menu {
    bottom: 115%;
    top: auto; }

@media (max-width: 720px) {
  footer.main ul {
    display: none; } }

nav.main {
  padding: 0 60px;
  display: table;
  height: 90px;
  width: 100%;
  border-bottom: 1px solid #dee0df; }
  nav.main:after {
    content: "";
    display: table;
    clear: both; }
  nav.main a.brand {
    color: #e74430;
    font-size: 21px;
    float: left;
    line-height: 90px;
    margin-right: 30px; }
    nav.main a.brand img {
      position: relative;
      top: 7px;
      margin-right: 15px; }
  nav.main ul.main-nav {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right; }
    nav.main ul.main-nav > li {
      display: inline-block;
      margin: 0 15px; }
      nav.main ul.main-nav > li > a {
        line-height: 90px;
        font-size: 16px;
        color: #525252;
        padding: 35px 0; }
        nav.main ul.main-nav > li > a:hover {
          color: #f4645f; }
      nav.main ul.main-nav > li.active a {
        color: #f4645f; }
    nav.main ul.main-nav .community-dropdown .dropdown-menu {
      top: 83%; }
  nav.main .switcher {
    position: relative;
    float: right;
    margin-top: 25px;
    margin-left: 25px; }
    nav.main .switcher .dropdown-menu {
      border-radius: 3px;
      min-width: 75px;
      margin-top: 10px;
      padding: 0;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1); }
      nav.main .switcher .dropdown-menu > li {
        border-bottom: 1px solid #f0f2f1; }
        nav.main .switcher .dropdown-menu > li:last-child {
          border: none; }
      nav.main .switcher .dropdown-menu > li > a {
        color: #525252;
        padding: 10px 20px;
        text-align: center; }

.responsive-sidebar-nav {
  display: none;
  float: right;
  margin-top: 25px;
  margin-left: 25px; }
  .responsive-sidebar-nav .btn {
    background: #333; }

@media (max-width: 1080px) {
  nav.main {
    padding: 0 20px; } }

@media (max-width: 900px) {
  .docs nav.main ul.main-nav {
    display: none; }
  .docs .responsive-sidebar-nav {
    display: block; } }

@media (max-width: 860px) {
  .home nav.main ul.main-nav, .the-404 nav.main ul.main-nav {
    display: none; }
  .home .responsive-sidebar-nav, .the-404 .responsive-sidebar-nav {
    display: block; } }

@media (max-width: 780px) {
  nav.main {
    padding: 0 15px; } }

.panel {
  position: relative;
  padding: 0 20px; }
  .panel h1 {
    text-align: center; }
  .panel p {
    font-size: 21px;
    color: #aeaeae; }
  .panel.dark {
    background-color: #f0f2f1; }
  .panel.standout {
    background-color: #f4645f;
    color: #fff; }
  .panel.statement {
    display: table;
    table-layout: fixed;
    height: 100vh;
    min-height: 900px;
    margin: 0 0 -100px 0;
    width: 100%;
    text-align: center; }
    .panel.statement .content {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      padding-bottom: 150px; }
    .panel.statement h1 {
      font-size: 56px; }
    .panel.statement h1 + p {
      font-size: 28px;
      font-weight: 100;
      -webkit-font-smoothing: subpixel-antialiased; }
    .panel.statement p.caption {
      color: #525252;
      font-size: 18px; }
    .panel.statement .browser-window {
      display: block;
      margin: 8vh auto 15px; }
    .panel.statement .next-up {
      bottom: 150px; }
  .panel.laracon {
    background: #f4645f url("/assets/img/laracon-bg.jpg") center center no-repeat;
    padding: 60px 0;
    text-align: center;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 5; }
    .panel.laracon > h1 {
      color: #fff;
      margin: 0 0 30px 0;
      text-align: center; }
    .panel.laracon h2 {
      font-weight: 400;
      margin: 40px 0; }
    .panel.laracon .date {
      font-size: 16px;
      letter-spacing: .2em;
      text-transform: uppercase;
      font-weight: 400; }
    .panel.laracon .btn {
      background: rgba(255, 255, 255, 0.85);
      border-radius: 60px;
      color: #f4645f;
      margin: 10px;
      width: 260px;
      font-size: 18px; }
      .panel.laracon .btn:hover {
        background: #fff; }
      .panel.laracon .btn em {
        font-size: 24px;
        display: block;
        font-style: normal; }
  .panel.features {
    padding: 125px 0; }
    .panel.features > h1,
    .panel.features > p {
      margin: 0 0 20px 0;
      text-align: center; }
    .panel.features .blocks {
      max-width: 900px;
      background: #fff;
      margin: 50px auto;
      border-radius: 4px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); }
      .panel.features .blocks .block {
        border-bottom: 1px solid #dbdcdb;
        height: 225px;
        overflow: hidden; }
        .panel.features .blocks .block:after {
          content: "";
          display: table;
          clear: both; }
        .panel.features .blocks .block .text {
          padding: 50px;
          width: 60%;
          float: left; }
          .panel.features .blocks .block .text h2 {
            font-size: 24px;
            font-weight: 400;
            color: #f4645f; }
        .panel.features .blocks .block .media {
          float: right;
          padding-top: 20px;
          width: 40%;
          overflow: hidden; }
          .panel.features .blocks .block .media .browser-window {
            width: 400px; }
        .panel.features .blocks .block.even .text {
          float: right; }
        .panel.features .blocks .block.even .media {
          float: left; }
          .panel.features .blocks .block.even .media .terminal-window {
            float: left;
            margin-left: -5px;
            width: 360px; }
            .panel.features .blocks .block.even .media .terminal-window pre[class*="language-"] {
              border-radius: 0;
              margin-top: 0; }
        .panel.features .blocks .block p {
          font-size: 14px;
          color: #80878c; }
  .panel.ecosystem {
    padding: 150px 0 75px;
    background: url("/assets/img/laravel-tucked.png") center top no-repeat; }
    .panel.ecosystem > h1,
    .panel.ecosystem > p {
      margin: 0 0 20px 0;
      text-align: center; }
    .panel.ecosystem .forge {
      margin: 100px auto; }
      .panel.ecosystem .forge:after {
        content: "";
        display: table;
        clear: both; }
      .panel.ecosystem .forge .screenshot {
        float: left;
        max-width: 50%; }
      .panel.ecosystem .forge .content {
        padding: 25px 5px;
        max-width: 45%;
        float: left; }
        .panel.ecosystem .forge .content img {
          margin-bottom: 15px; }
      .panel.ecosystem .forge p {
        color: #525252;
        font-size: 16px; }
    .panel.ecosystem .tiles {
      max-width: 1080px;
      margin: 0 auto;
      padding: 0 25px; }
      .panel.ecosystem .tiles:after {
        content: "";
        display: table;
        clear: both; }
      .panel.ecosystem .tiles .tile {
        border: 0px solid #dee0df;
        padding: 25px 15px;
        border-radius: 4px;
        width: 30%;
        margin-right: 5%;
        float: left;
        text-align: center; }
        .panel.ecosystem .tiles .tile:last-child {
          margin-right: 0; }
        .panel.ecosystem .tiles .tile h2 {
          color: #f4645f;
          font-size: 24px;
          font-weight: 400; }
        .panel.ecosystem .tiles .tile p {
          font-size: 16px;
          color: #525252; }
  .panel .next-up {
    position: absolute;
    bottom: 50px;
    text-align: right;
    right: 50px;
    width: 300px;
    text-transform: uppercase;
    font-size: 15px;
    color: #aaa; }
    .panel .next-up:hover {
      color: #777; }
    .panel .next-up img {
      position: relative;
      top: 14px;
      margin-left: 10px; }
  .panel .browser-window,
  .panel .terminal-window {
    overflow: hidden; }
    .panel .browser-window pre[class*="language-"], .panel .browser-window .window-content,
    .panel .terminal-window pre[class*="language-"],
    .panel .terminal-window .window-content {
      overflow: hidden; }

@media (max-width: 980px) {
  .panel .next-up {
    right: auto;
    left: 50%;
    margin-left: -150px; }
  .panel.features {
    padding: 75px 0; } }

@media (max-width: 760px) {
  .panel.statement h1 {
    font-size: 42px;
    line-height: 1.2; }
    .panel.statement h1 + p {
      font-size: 21px; }
  .panel.ecosystem .forge {
    text-align: center;
    padding: 0 50px;
    margin: 50px 0; }
    .panel.ecosystem .forge .screenshot {
      float: none;
      margin-bottom: 25px;
      max-width: 100%; }
      .panel.ecosystem .forge .screenshot:after {
        content: "";
        display: table;
        clear: both; }
    .panel.ecosystem .forge .content {
      max-width: 100%; }
      .panel.ecosystem .forge .content:after {
        content: "";
        display: table;
        clear: both; }
  .panel.ecosystem .tiles .tile {
    width: 100%;
    margin-bottom: 20px; }
    .panel.ecosystem .tiles .tile:after {
      content: "";
      display: table;
      clear: both; }
  .panel.features .blocks .block .text {
    padding: 15px; }
    .panel.features .blocks .block .text p {
      margin-bottom: 0; } }

@media (max-width: 620px) {
  .panel.statement .browser-window {
    width: 100%; } }

@media (max-width: 580px) {
  .panel.features .blocks .block {
    height: 410px; }
    .panel.features .blocks .block .text {
      width: 100%;
      float: none !important;
      display: block;
      padding: 5%; }
    .panel.features .blocks .block .media {
      float: none !important;
      display: block;
      width: 100%; }
      .panel.features .blocks .block .media .terminal-window,
      .panel.features .blocks .block .media .browser-window {
        width: 90% !important;
        margin: 0 5% !important;
        float: none !important; } }

.sidebar {
  border-right: 1px solid #f0f2f1;
  width: 250px;
  float: left;
  padding: 35px; }
  .sidebar > ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .sidebar > ul > li {
      font-size: 14px;
      font-weight: 400;
      padding: 0 0 10px;
      margin: 1em 0 0px; }
      .sidebar > ul > li > ul {
        border-top: 1px dashed rgba(0, 0, 0, 0.1);
        display: block;
        list-style: none;
        margin: 0.5em 0 0 0;
        padding: 0.5em 0 0 0;
        font-size: 14px; }
  .sidebar a {
    line-height: 1.5; }
    .sidebar a:hover {
      color: #e74430; }

@media (max-width: 1080px) {
  .sidebar {
    padding: 25px;
    width: 200px; } }

@media (max-width: 780px) {
  .sidebar {
    display: none; } }

.browser-window, .terminal-window {
  text-align: left;
  margin: 20px;
  width: 602px;
  height: 355px;
  display: inline-block;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  overflow: overlay; }
  .browser-window .top-bar, .terminal-window .top-bar {
    height: 30px;
    border-radius: 4px 4px 0 0;
    border-top: thin solid #eaeae9;
    border-bottom: thin solid #dfdfde;
    background: #ebebeb; }
  .browser-window .circle, .terminal-window .circle {
    height: 8px;
    width: 8px;
    display: inline-block;
    border-radius: 50%;
    background-color: white; }
  .browser-window .circles, .terminal-window .circles {
    margin: 1px 10px; }
  .browser-window .window-content, .terminal-window .window-content {
    margin: 0;
    width: 100%;
    min-height: 90%;
    display: inline-block;
    border-radius: 0 0 4px 4px; }

.browser-window .window-content pre[class*="language-"] {
  background: #fff;
  margin: 0; }

.docs article {
  padding: 25px 125px 50px 50px;
  margin-left: 300px; }
  .docs article ul {
    font-size: 14px; }
  .docs article .content-list ul li {
    margin: 8px;
    line-height: 1.65; }
  .docs article p {
    font-size: 14.5px;
    line-height: 1.70; }
  .docs article h1 + ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    padding-bottom: 50px;
    border-bottom: 1px solid #f0f2f1;
    -webkit-font-smoothing: antialiased; }
    .docs article h1 + ul li:before {
      content: "# ";
      margin-right: .25em;
      color: #f4645f;
      opacity: .3; }
    .docs article h1 + ul li a {
      text-decoration: none; }
  .docs article li > ul {
    font-size: 15px;
    font-weight: 400;
    list-style: none; }
  .docs article h2:first-of-type {
    margin-top: 15px; }
  .docs article h2 {
    font-size: 30px;
    font-weight: 400;
    margin-top: 55px;
    position: relative; }
    .docs article h2 a,
    .docs article h2 a:hover {
      color: #525252;
      text-decoration: none; }
    .docs article h2 a:before {
      content: "#";
      margin-left: -25px;
      position: absolute;
      font-size: 28px;
      top: 5px;
      color: #f4645f;
      opacity: .6; }
  .docs article h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 45px; }
  .docs article h4 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 35px; }
  .docs article a {
    text-decoration: underline; }
    .docs article a:hover {
      color: #f1362f; }
  .docs article blockquote a:hover {
    color: #fcd8d6; }
  .docs article table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px; }
    .docs article table th,
    .docs article table td {
      border: 1px solid #dee0df;
      padding: 10px;
      text-align: left; }
    .docs article table th {
      font-size: 16px; }

.docs blockquote.has-icon {
  position: relative; }
  .docs blockquote.has-icon.video, .docs blockquote.has-icon.laracast {
    background: rgba(103, 58, 183, 0.62); }
  .docs blockquote.has-icon.tip {
    background: #64B5F6; }
  .docs blockquote.has-icon p {
    padding-left: 40px; }
  .docs blockquote.has-icon .flag {
    position: absolute;
    width: 30px;
    left: 15px;
    top: 10px; }
    .docs blockquote.has-icon .flag svg {
      width: 24px;
      height: 24px; }

.docs .svg svg {
  width: 24px; }

.docs #search {
  padding: 60px 50px 0px 50px;
  margin-left: 300px; }

.docs #search-wrapper {
  text-align: center;
  width: 100%;
  position: relative;
  margin: 0 auto; }
  .docs #search-wrapper .icon {
    content: '';
    background: url("/assets/img/search_icon.png") center center no-repeat;
    position: absolute;
    right: 12px;
    top: 9px;
    width: 24px;
    height: 24px;
    display: block;
    z-index: 200; }

#search-wrapper.not-empty .icon {
  background: url("/assets/img/cross_icon.png") center center no-repeat;
  cursor: pointer; }

#search-input {
  padding: 10px 16px;
  border-radius: 3px;
  border: solid 1px #B3B5B4;
  width: 100%;
  z-index: 150; }

.autocomplete-wrapper .h1 {
  font-size: 16px;
  font-weight: bold; }

.autocomplete-wrapper .h2 {
  font-size: 16px;
  display: inline-block; }

.autocomplete-wrapper .h2 .hash {
  color: #F8A2A9; }

.autocomplete-wrapper .h3 {
  font-size: 16px;
  display: inline-block; }

.autocomplete-wrapper .h4 {
  font-size: 16px;
  display: inline-block; }

.autocomplete-wrapper .content {
  font-size: 13px;
  background-color: rgba(238, 238, 238, 0.35);
  padding: 10px;
  border-radius: 3px;
  margin-left: 3px;
  margin-top: 14px; }

.twitter-typeahead {
  width: 100%;
  position: relative; }

.twitter-typeahead .tt-input, .twitter-typeahead .tt-hint {
  width: 100%;
  margin: 0;
  padding: 8px 12px;
  border: 2px solid #CCC;
  outline: none; }

.twitter-typeahead .tt-input:focus {
  border: 2px solid #0097CF; }

.twitter-typeahead .tt-hint {
  color: #999; }

.twitter-typeahead .tt-dropdown-menu {
  margin-top: -20px;
  width: 100%;
  padding: 0;
  background-color: #FFF;
  border: solid 1px #FFD6D6;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 0 0 2px 2px; }

.twitter-typeahead .tt-dropdown-menu .tt-suggestion:first-child {
  margin-top: 20px; }

.twitter-typeahead .tt-dropdown-menu .footer {
  border-bottom: solid 1px #FFD6D6 !important; }

.twitter-typeahead .tt-dropdown-menu .autocomplete-wrapper {
  text-align: left;
  padding: 12px 18px;
  font-size: 16px;
  line-height: 24px;
  border-bottom: solid 1px #EEE; }

.autocomplete-wrapper.empty {
  padding-top: 30px !important; }

.twitter-typeahead .tt-dropdown-menu .footer {
  padding: 10px;
  color: #777777; }

.twitter-typeahead .tt-dropdown-menu .footer .powered {
  float: right;
  font-size: 13px;
  margin-right: 3px;
  color: #888888; }

.twitter-typeahead .tt-dropdown-menu .footer img {
  float: right; }

.twitter-typeahead .tt-dropdown-menu .tt-suggestion.tt-cursor .autocomplete-wrapper .content {
  background-color: rgba(238, 238, 238, 0.7); }

.twitter-typeahead .tt-dropdown-menu .tt-suggestion.tt-cursor .autocomplete-wrapper {
  background-color: rgba(238, 238, 238, 0.3);
  cursor: pointer; }

.twitter-typeahead .tt-dropdown-menu .tt-suggestion p {
  margin: 0; }

.twitter-typeahead .tt-dropdown-menu .tt-suggestion a {
  color: #000;
  text-decoration: none; }

.twitter-typeahead .tt-dropdown-menu .tt-suggestion .autocomplete-wrapper em {
  background-color: rgba(255, 116, 116, 0.2);
  font-style: normal; }

.twitter-typeahead .tt-dropdown-menu .tt-suggestion.tt-cursor .autocomplete-wrapper em {
  background-color: rgba(255, 116, 116, 0.4);
  font-style: normal; }

.twitter-typeahead .tt-dropdown-menu .tt-suggestion .autocomplete-wrapper .content em,
.twitter-typeahead .tt-dropdown-menu .tt-suggestion.tt-cursor .autocomplete-wrapper .content em {
  background-color: transparent;
  font-weight: bold; }

.twitter-typeahead .tt-dropdown-menu .category {
  font-weight: bold;
  font-size: 15px;
  padding: 5px 20px;
  background: #EEE;
  margin-top: 4px;
  margin-bottom: 3px; }

.twitter-typeahead .tt-dropdown-menu .tt-dataset-all {
  border-top: 1px solid #DDD;
  background: #F7F7F7;
  margin-top: 8px; }

.twitter-typeahead .suggestion_typehead img {
  display: inline-block;
  float: left;
  margin-right: 10px; }

.twitter-typeahead .suggestion_typehead .infos {
  display: inline-block; }

.twitter-typeahead .brand {
  font-size: 12px;
  font-weight: bold; }

.twitter-typeahead .name {
  font-size: 12px;
  font-weight: normal;
  max-width: 310px;
  line-height: 1.2; }

.twitter-typeahead .suggestion_typehead .price {
  display: inline-block;
  float: right;
  font-size: 14px;
  padding-top: 8px; }

.twitter-typeahead .suggestion_typehead.brand_in {
  font-size: 12px; }

.twitter-typeahead .suggestion_typehead.brand_in .keyword_in {
  color: #888; }

.docs #search-input:focus {
  box-shadow: none;
  outline: 0;
  border-color: #F4645F; }

.docs-wrapper {
  overflow: hidden; }

@media (max-width: 1080px) {
  .docs article {
    margin-left: 200px;
    padding: 15px 30px 30px; }
    .docs article h2 a:before {
      margin-left: -20px; }
  .docs #search {
    margin-left: 200px; } }

@media (max-width: 780px) {
  .docs article {
    margin-left: 0px; }
    .docs article h1 {
      margin-top: 0; }
  .docs #search {
    margin-left: 0px;
    padding: 60px 50px 30px 30px; } }

body.the-404 .contain {
  padding: 50px 0;
  display: table;
  height: 80vh; }
  body.the-404 .contain:after {
    content: "";
    display: table;
    clear: both; }
  body.the-404 .contain img {
    float: left;
    max-width: 100%; }
  body.the-404 .contain h1 {
    font-size: 38px;
    padding-left: 35px; }
  body.the-404 .contain .content,
  body.the-404 .contain .media {
    display: table-cell;
    vertical-align: middle; }

/*# sourceMappingURL=laravel.css.map */
